<!-- template: grid -->
<div class="grid control" tabindex="1">
    <div class="buttons">
        <input type="button" class="refresh" value="Обновить" />
        <input type="button" class="insert" value="Добавить" />
        <input type="button" class="update" value="Исправить" />
        <input type="button" class="delete" value="Удалить" />
        <input type="button" class="save" value="Сохранить" />
        <input type="button" class="cancel" value="Отменить" />
    </div>
    <div class="table"></div>
</div>

<!-- template: header -->
<div class="header"></div>

<!-- template: row -->
<div class="row"></div>

<!-- template: cell -->
<div class="cell"></div>