<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        html, body, table,tr, td {padding:0;margin: 0;}
        #container {padding:10px;}
        #result {border:1px solid #999; width: 100%; overflow: auto;height:100%;}
        #console-block {height: 70px;position:absolute;}
        #console {padding: 0;margin: 0;}
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./public/url.js"></script>
    <script src="./public/common.js"></script>
</head>
<body>

<div id="container">
<div id="result"></div>
<div id="console-block"><table width="100%">
    <tr>
        <td width="100%"><textarea name="console" id="console" style="width: 100%;" rows="3"></textarea></td>
        <td width="120"><input type="button" onclick="runCommand($('#console').val(), false, true);" value="Выполнить"/><br>
            <input type="button" onclick="$('#console').val('');" value="Очистить"/>
        </td>
    </tr>
</table>
</div>
</div>

</body>
</html>