<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./public/url.js"></script>
    <script src="./public/common.js"></script>
    <script>

        var setTimer = null;

        $(function(){

            //  значения полей с сервера
            var oldValues = {};

            // запрашиваем инициализационные данные
            socket.onopen = function(event) {
                // отправляем сообщение что подключились
                socket.send(JSON.stringify({action:'connect', sid: $.url('?sid'), agent:navigator.userAgent}));
                // отправляем сообщение на инициализацию
                socket.send(JSON.stringify({action: 'init', sid: $.url('?sid')}));
            };

            // обработчик входящих сообщений
            socket.onmessage = function(event) {
                var data = JSON.parse(event.data);
                switch (data.action) {
                    case 'init': // инициализация с сервера
                    case 'changed': // изменения


                        for(var i in data.values) {
                            var controlSett = false;
                            if (data.action == 'init' || oldValues[i] == $('#'+i).val()){  // проверяем не изменились ли значения в контролах
                                $('#'+i).val(data.values[i]); // меняем в контролах
                                controlSett = true;
                            }
                            oldValues[i] = data.values[i];

                            if (!controlSett)
                                console.log(i+' --> '+data.values[i]);
                            else
                                console.log(i+' --> '+data.values[i]+' --> '+$('#'+i).val());
                        }

                        // если изменены поля вычисляемого поля
                        if (data.values['i1'] || data.values['i2']) {
                            setCalcField();
                        }

                        break;
                    case 'connect':
                        $('#curr_conn').html(data.connId);
                        break;
                    case 'error': // ошибки
                        console.log(data.error);
                        break;
                }
            };

            // при закрытии сокета убираем пинг
            socket.onclose = function(){
                if (interval)
                    clearInterval(interval);
                console.log('socket closed');
            };

            // Отправка изменений на сервер
            function sendValues(){
                var values = {};
                var inputs = $('input.edited');
                var changed = false;
                for (var i= 0,len=inputs.length; i<len; i++) {
                    var input = $(inputs[i]);
                    var id = input.attr('id');
                    var newValue = input.val();
                    if (oldValues[id] != newValue) {
                        values[input.attr('id')] = {oldValue:oldValues[id], newValue:newValue};
                        changed = true;
                    }
                }

                // если изменено вычисляемое поле
                if (values['i1'] || values['i2'] || values['i1i2']) {
                    values['i1i2'] = {oldValue:oldValues['i1i2'], newValue:$('#i1i2').val()};
                    values['i1'] = {oldValue:oldValues['i1'], newValue:$('#i1').val()};
                    values['i2'] = {oldValue:oldValues['i2'], newValue:$('#i2').val()};
                }

                if (changed)
                    socket.send(JSON.stringify({action:'changed', sid: $.url('?sid'), values:values, time:Date.now()}));

                // обнуляем значение таймера
                intervalValue = 0;
            }


            // вычисляемое поле
            function setCalcField(){
                $('#i1i2').val($('#i1').val()+$('#i2').val());
            }
            $('#i1').keyup(setCalcField);
            $('#i2').keyup(setCalcField);

           /* $('input').blur(function(){
                socket.send(JSON.stringify({action:'inputs', sid: $.url('?sid'), id:$(this).attr('id'), str:$(this).val(), time:Date.now()}));
            });*/

            // Функции таймера
            var interval = null;
            var intervalValue = null;
            var intervalView = null;
            setTimer = function(value) {
                if (interval)
                    clearInterval(interval);
                if (intervalView)
                    clearInterval(intervalView);
                interval = setInterval(sendValues, value);
                intervalValue = value;
                intervalView = setInterval(viewInterval, 200);
                $('#curr_timer').html(value);
            };
            function viewInterval(){
                $('#time_left').html(intervalValue);
                if (intervalValue==0)
                    intervalValue = parseInt($('#curr_timer').html());
                else
                    intervalValue = intervalValue-200>=0?intervalValue-200:0;
            }

            // устанока таймера c интервалом 1000мс по умолчанию
            setTimer(1000);
            $('#timer_sett').val(1000)

            // текущий id сессии
            $('#curr_id').html($.url('?sid'))


        });

    </script>
</head>
<body>

<h2>Редактируемые поля</h2>
1<input id="i1" class="edited"> <br>
2<input id="i2" class="edited"> <br>
3<input id="i3" class="edited"> <br>
4<input id="i4" class="edited"> <br>
5<input id="i5" class="edited"> <br>
6<input id="i6" class="edited"> <br>
7<input id="i7" class="edited"> <br>
8<input id="i8" class="edited"> <br>
9<input id="i9" class="edited"> <br>
10<input id="i10" class="edited"> <br>
1+2 <input id="i1i2" class="edited"> <br>

<h2>Настройки</h2>
Таймер текущий: <span id="curr_timer"></span> <input id="timer_sett" value="1000" style="width:50px">мс <input type="button" value="Установить" onclick="setTimer($('#timer_sett').val());"><br>
ID сессии: <span id="curr_id"></span><br>
ID коннекта: <span id="curr_conn"></span><br>
Таймер: <span id="time_left"></span>мс<br>


</body>
</html>