<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../public/class-extend.js"></script>
    <script data-main="../public/main.js" src="../public/require.js"></script>
    <script src="./public/url.js"></script>
    <script>

    // глобальные методы
    var setTimer = null;
    var sendValues = null;
    var showChanges = null;

    // номер коннекта
    var connId = null;

    require(['socket'],
            function( Socket ){

                //  значения полей с сервера
                var oldValues = {};
                // таймер
                var interval = null;

                var socket = new Socket("ws://"+url('hostname')+":8081", {
                    open: function(){
                        socket.send({action:'connect', type:'method', sid: $.url('?sid'), agent:navigator.userAgent}, function(data){
                            connId = data.connId;
                            $('#curr_id').html($.url('?sid'))
                            $('#curr_conn').html(connId);
                            socket.send({action: 'init', type:'method', sid: $.url('?sid')}, showChanges);
                        });
                    },
                    close:function(){
                        if (interval)
                            clearInterval(interval);
                        console.log('socket closed');
                    },
                    message: function(data){
                        var result = {};
                        switch (data.action) {
                            case 'test':
                                result = {value:data.value*data.value};
                                console.log(result);
                                break;
                           case 'changed':
                                showChanges(data);
                                break;
                            case 'error': // ошибки
                                console.log(data.error);
                                break;
                        }
                        return result;
                    }
                });

                // сохранить и отобразить изменения
                showChanges = function(data) {
                    //  если хотя бы для одного oldValue<>newValue
                    var changed = false;
                    if (!$.isEmptyObject(oldValues)) {
                        for(var i in data.values) {
                            if (oldValues[i] != $('#'+i).val()) {
                                changed = true;
                            }
                        }
                    }

                    // сохраняем в oldValues и меняем в полях ввода если !changed
                    for(var i in data.values) {
                        console.log(i+': oldValue:'+oldValues[i]+' newValue:'+$('#'+i).val()+' serverValue:'+data.values[i]);
                        oldValues[i] = data.values[i];
                        $('#'+i+'_old').html(data.values[i]);
                        if (!changed) {
                            $('#'+i).val(data.values[i]);
                        }
                    }

                    // если изменены поля вычисляемого поля
                    if (data.values['i1'] || data.values['i2']) {
                        setCalcField();
                    }
                }

                // Отправка изменений на сервер
                sendValues = function (){
                    var values = {};
                    var inputs = $('input.edited');
                    var changed = false;

                    // находим изменения
                    for (var i= 0,len=inputs.length; i<len; i++) {
                        var input = $(inputs[i]);
                        var id = input.attr('id');
                        var newValue = input.val();
                        if (oldValues[id] != newValue) {
                            values[input.attr('id')] = {oldValue:oldValues[id], newValue:newValue};
                            changed = true;
                        }
                    }

                    // если изменено вычисляемое поле
                    if (values['i1'] || values['i2'] || values['i1i2']) {
                        values['i1i2'] = {oldValue:oldValues['i1i2'], newValue:$('#i1i2').val()};
                        values['i1'] = {oldValue:oldValues['i1'], newValue:$('#i1').val()};
                        values['i2'] = {oldValue:oldValues['i2'], newValue:$('#i2').val()};
                    }

                    if (changed)
                        socket.send({action:'changed', type:'method', sid: $.url('?sid'), values:values, time:Date.now()});

                    // обнуляем значение таймера
                    intervalValue = 0;
                }

                // вычисляемое поле
                function setCalcField(){
                    $('#i1i2').val($('#i1').val()+$('#i2').val());
                }
                $('#i1').keyup(setCalcField);
                $('#i2').keyup(setCalcField);

                // Функции таймера
                var interval = null;
                var intervalValue = null;
                var intervalView = null;
                setTimer = function(value) {
                    if (interval)
                        clearInterval(interval);
                    if (intervalView)
                        clearInterval(intervalView);
                    if (value != 0) {
                        interval = setInterval(sendValues, value);
                        intervalView = setInterval(viewInterval, 200);
                    }
                    intervalValue = value;
                    $('#curr_timer').html(value);
                };
                function viewInterval(){
                    $('#time_left').html(intervalValue);
                    if (intervalValue==0)
                        intervalValue = parseInt($('#curr_timer').html());
                    else
                        intervalValue = intervalValue-200>=0?intervalValue-200:0;
                }

                // устанока таймера c интервалом 0мс(отключен) по умолчанию
                setTimer(0);
                $('#timer_sett').val(0);
                $('#time_left').html(0);
            }
    );


    </script>
</head>
<body>

<h2>Редактируемые поля</h2>
1<input id="i1" class="edited"> <span id="i1_old"></span> <br>
2<input id="i2" class="edited"> <span id="i2_old"></span> <br>
3<input id="i3" class="edited"> <span id="i3_old"></span> <br>
4<input id="i4" class="edited"> <span id="i4_old"></span> <br>
5<input id="i5" class="edited"> <span id="i5_old"></span> <br>
6<input id="i6" class="edited"> <span id="i6_old"></span> <br>
7<input id="i7" class="edited"> <span id="i7_old"></span> <br>
8<input id="i8" class="edited"> <span id="i8_old"></span> <br>
9<input id="i9" class="edited"> <span id="i9_old"></span> <br>
10<input id="i10" class="edited"> <span id="i10_old"></span> <br>
1+2 <input id="i1i2" class="edited"> <span id="i1i2_old"></span> <br>

<h2>Настройки</h2>
Таймер текущий: <span id="curr_timer"></span> <input id="timer_sett" value="1000" style="width:50px">мс <input type="button" value="Установить" onclick="setTimer($('#timer_sett').val());"> <input type="button" value="Отправить значения" onclick="sendValues();"><br>
ID сессии: <span id="curr_id"></span><br>
ID коннекта: <span id="curr_conn"></span><br>
Таймер: <span id="time_left"></span>мс<br>


</body>
</html>