<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        html, body, table,tr, td {padding:0;margin: 0;}
        #container {padding:10px;}
        #result {border:1px solid #999; width: 100%; overflow: auto;height:100%;}
        #console-block {height: 70px;position:absolute;}
        #console {padding: 0;margin: 0;}
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        /**
         * Выполнение команды
         * @param command Формат comand param1,param2,...paramN
         */
        function runCommand(command) {
            var items = command.split(' ', 2);
            var func = items[0];
            var params = items[1];
            if (eval("typeof " + func) !== 'function'){
                $('#result').append('<p>Функция `'+func+'` не найдена</p>');
            }

            var result = eval(func+'('+params+')');
            $('#result').append('<p>Результат '+ func +'('+params+'): '+result+' </p>');

        }

        function sum(param1, param2) {
            return param1 + param2;
        }

        $(function(){

            function fixHeight() {
              $('#result').height($(window).height()-90);
              $('#console').width('100%');
            };
            fixHeight();
            $(window).resize(fixHeight)

            // click enter
            $("#console").keyup(function(event){
                if(event.keyCode == 13){
                    event.preventDefault();
                    event.stopPropagation();
                    runCommand($('#console').val());
                   // $('#console').val('');
                }
            });
        });

    </script>
</head>
<body>

<div id="container">
<div id="result"></div>
<div id="console-block"><table width="100%">
    <tr>
        <td width="100%"><textarea name="console" id="console" style="width: 100%;" rows="3"></textarea></td>
        <td width="120"><input type="button" onclick="runCommand($('#console').val());$('#console').val('');" value="Выполнить"/><br>
            <input type="button" onclick="$('#console').val('');" value="Очистить"/>
        </td>
    </tr>
</table>
</div>
</div>

</body>
</html>