<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>Uccello</title>
<link href="/public/img/Favicon.png" rel="icon" type="image/png" />
<link href="/public/libs/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet">
<script src="/public/uccello/uses/socket.io.js"></script>
<script src="/public/uccello/uses/jquery-1.11.1.min.js"></script>
<script src="/public/libs/jquery-ui/jquery-ui.min.js"></script>
<link type="text/css" rel="stylesheet" href="/public/css/style.css" media="all">

<script src="/public/uccello/uses/url.js"></script>
<script src="/public/uccello/uses/jquery.cookie.js"></script>
<script src="/public/libs/jeditable/jquery.jeditable.mini.js"></script>
<script type="text/javascript" src="/public/libs/zclip/jquery.zclip.min.js"></script>
<script src="/public/uccello/uses/class-extend.js"></script>
<script src="/public/uccello/uses/require.js"></script>

<script>var webSocketServerPort = <%= webSocketServerPort %>;</script>
<script src="/public/proto1.js"></script>
</head>
<body>

<div id="header">
    <div style="float: left;" id="userInfo"></div>
</div>

<div id="interface">
    <a href="#" id="login" style="display: none;">Войти</a>
    <a href="#" id="logout" style="display: none;" onclick="return logout();">Выйти</a>

    <input type="checkbox" id="autoSendDelta" checked><label for="autoSendDelta" title="авто отсылка дельты">автодельта</label> <input type="button" value="send delta" title="Отправить дельту" onclick="sendDeltas(true);">
    <select id="userContext"></select>
    <input type="button" id="openContext" value="open" />
    <input type="button" value="refresh" title="refresh" onclick="refreshContexts(true);">
    <select id="userContextOn"></select>


    <table style="display: inline-block;vertical-align: bottom;;">
        <tr><td></td></tr>
        <tr><td><select id="selForm" multiple size="3">
            <option value="cf07df23-abfe-9887-a353-09a00faf99d8">g-container</option>
            <option value="0d1013d5-c71e-c858-5c97-4a00e579c459">h-containers</option>
            <option value="80f30ea2-b916-8f7a-3557-dcdbd6c6a9d6">controls</option>
            <option value="ae4ceae0-5c33-d088-e3cd-2974c684701f">navigator</option>
            <option value="89f42efa-b160-842c-03b4-f3b536ca09d8">crm-list</option>
            <option value="4a4abdb4-3e3b-85a7-09b9-5f15b4b187f9">crm-edit</option>
            <option value="88b9280f-7cce-7739-1e65-a883371cd498">test</option>
            <option value="02fad346-dc0b-7d02-b395-729186589611">company</option>
            <option value="0c5e3ff0-1c87-3d99-5597-21d498a477c6">company-list</option>
        </select></td></tr>
    </table>



    <input type="button" value="+ srv context" title="создать серверный контекст" onclick="createContext($('#selForm').val());">
    <input type="button" value="+ clt context" title="создать клиентский контекст" onclick="createClientContext($('#selForm').val());">
    <input type="button" value="serialize" title="сериализованное представление формы" onclick="serializeForm();">
    <table style="display: inline-block;vertical-align: text-bottom;">
        <tr><td><input id="addTimeout" type="checkbox"><label for="addTimeout">с задержкой</label></td></tr>
        <tr><td><input id="selSub" type="checkbox"><label for="selSub">в новой закладке</label></td></tr>
    </table>
    <input type="button" value="+ root" title="добавить рут" onclick="createRoot();">
    <input type="text" id="sessionGuid"  value="" placeholder="гуид сессии">
    <input type="button" type="text" id="DataColumnContact30" value="ContactWidth30" >
    <input type="button" type="text" id="DataColumnContact20" value="ContactWidth20" >
    <!--<select id="selControl">
                <option value="f79d78eb-4315-5fac-06e0-d58d07572482">Edit</option>
                <option value="af419748-7b25-1633-b0a9-d539cada8e0d">Button</option>
                <option value="827a5cb3-e934-e28c-ec11-689be18dae97">MatrixGrid</option>
                <option value="1d95ab61-df00-aec8-eff5-0f90187891cf">Container</option>
                <option value="a0e02c45-1600-6258-b17a-30a56301d7f1">PropEditor</option>
                <option value="38aec981-30ae-ec1d-8f8f-5004958b4cfa">DbNavigator</option>
    </select>-->
    <input type="button" value="add button" onclick="addControl('af419748-7b25-1633-b0a9-d539cada8e0d');">

    <select id="contextDatasets">

    </select>
    <input type="button" value="addRecord" title="добавить запись в выбранный датасет" onclick="addRecord();">

    <input type="button" value="navigator" onclick="viewNavigator();">
    <br><br>

    <div id="tabs"></div>
    <div id="container"></div>
</div>

<div id="loginForm" style="position: absolute; left:0px;top:60px;">
    <div id="loginError"></div>
    Имя: <input type="text" value="u1" id="loginName"><br>
    <input type="hidden" value="p1" id="loginPass">
    <!-- Пароль:<input type="password" value="p1" id="loginPass"><br>-->
    <input type="button" value="Войти" onclick="login($('#loginName').val(), $('#loginPass').val())">
</div>

<div id="dbNavigatorForm" >

</div>

</body>
</html>