<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>Uccello</title>
<link href="/public/img/Favicon.png" rel="icon" type="image/png" />
<link type="text/css" rel="stylesheet" href="/public/css/style.css" media="all">
<script src="/public/uccello/uses/jquery-1.11.1.min.js"></script>
<script src="/public/uccello/uses/url.js"></script>
<script src="/public/uccello/uses/jquery.cookie.js"></script>
<script src="/public/libs/jeditable/jquery.jeditable.mini.js"></script>
<script src="/public/uccello/uses/class-extend.js"></script>
<script src="/public/uccello/uses/require.js"></script>
<script src="/public/proto1.js"></script>
</head>
<body>

<div id="header">
    <div style="float: left;" id="userInfo"></div>
</div>

<div id="interface">
    <a href="#" id="login" style="display: none;">Войти</a>
    <a href="#" id="logout" style="display: none;" onclick="return logout();">Выйти</a>
    <input type="button" title="трассировка" value="debug" onclick="getSessions();">
    <!--<input type="button" value="renderControls" onclick="uccelloClt.getContext().renderAll(true);">-->
   <!-- <select id="selControl">
        <option value="f79d78eb-4315-5fac-06e0-d58d07572482">Edit</option>
        <option value="af419748-7b25-1633-b0a9-d539cada8e0d">Button</option>
        <option value="827a5cb3-e934-e28c-ec11-689be18dae97">MatrixGrid</option>
        <option value="1d95ab61-df00-aec8-eff5-0f90187891cf">Container</option>
        <option value="a0e02c45-1600-6258-b17a-30a56301d7f1">PropEditor</option>
        <option value="38aec981-30ae-ec1d-8f8f-5004958b4cfa">DbNavigator</option>
    </select><input type="button" value="add control" onclick="addControl($('#selControl').val());">-->
    <!--<input type="button" value="subscribe user" onclick="subscribeRootSys();">-->
    <input type="checkbox" id="autoSendDelta" checked><label for="autoSendDelta" title="авто отсылка дельты">автодельта</label> <input type="button" value="send delta" title="Отправить дельту" onclick="sendDeltas(true);">
    <select id="userContext"></select>
    <input type="button" id="openContext" value="open" />
    <input type="button" value="newTab" onclick="openTab2()" />
    <select id="userContextOn"></select>
    <!--<input type="button" value="refresh" title="refresh" onclick="refreshContexts(true);">-->

    <table style="display: inline-block;vertical-align: bottom;;">
        <tr><td></td></tr>
        <tr><td><select id="selForm" multiple size="3">
            <option value="ae4ceae0-5c33-d088-e3cd-2974c684701f">navigator</option>
            <option value="89f42efa-b160-842c-03b4-f3b536ca09d8">crm-list</option>
            <option value="4a4abdb4-3e3b-85a7-09b9-5f15b4b187f9">crm-edit</option>
            <option value="88b9280f-7cce-7739-1e65-a883371cd498">test</option>
            <option value="02fad346-dc0b-7d02-b395-729186589611">company</option>
            <!--<option value="0fab9989-3047-26b6-326c-19b78d66e4d1">contact</option>-->
        </select></td></tr>
    </table>
    <input id="selSub" type="checkbox"><label for="selSub">выборочная подписка</label>

    <input type="button" value="+ srv context" title="создать серверный контекст" onclick="createContext($('#selForm').val());">
    <input type="button" value="+ clt context" title="создать клиентский контекст" onclick="createClientContext($('#selForm').val());">
    <input type="button" value="serialize" title="сериализованное представление формы" onclick="serializeForm();">
    <input type="button" value="+ root" title="добавить рут" onclick="createRoot();">
    <!--<input type="button" value="Company" title="загрузить данные dataCompany" onclick="loadQuery('b49d39c9-b903-cccd-7d32-b84beb1b76dc');">
    <input type="button" value="Contact" title="загрузить данные dataContact" onclick="loadQuery('ab573a02-b888-b3b4-36a7-38629a5fe6b7');">
    <input type="button" value="Contract" title="загрузить данные dataContract" onclick="loadQuery('8583ee1d-6936-19da-5ef0-9025fb7d1d8d');">
    <input type="button" value="Address" title="загрузить данные dataAddress" onclick="loadQuery('edca46bc-3389-99a2-32c0-a59665fcb6a7');">-->
    <input type="button" value="set Param" title="присваивается параметру формы значение 1" onclick="setParam('1');">
    <input type="text" id="sessionGuid"  value="" placeholder="гуид сессии">
    <input type="button" value="открывает закладку" title="открывает закладку" onclick="openTab();"><br><br>

    <br><br>

    <div id="tabs"></div>
    <div id="container"></div>
</div>

<div id="loginForm" style="display: none;">
    <div id="loginError"></div>
    Имя:<input type="text" value="u1" id="loginName"><br>
    Пароль:<input type="password" value="p1" id="loginPass"><br>
    <input type="button" value="Войти" onclick="login($('#loginName').val(), $('#loginPass').val())">
</div>

</body>
</html>