<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../public/class-extend.js"></script>
    <script data-main="./public/main.js" src="../public/require.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../public/url.js"></script>

    <script>

        var socket = null;

        // когда документ загружен
        $(function(){
            require(
                ['socket'],
                function( Socket){
                    socket = new Socket("ws://"+url('hostname')+":8081", {
                        open: function(){
                            createController();
                        },
                        router: function(data){
                            console.log('сообщение с сервера:', data);
                            var result = {};
                            switch (data.action) {
                                case 'error': // ошибки
                                    console.log(data.error);
                                    break;
                            }
                            return result;
                        }
                    });
                }
            );
        });


      var myButton=null, dbc=null, dbsl=null, guids=null;
      function createController(done){
		require(
            ['../public/memDBController', 'memDataBase'],
            function( MemDBController, MemDataBase){
                socket.send({action:"getGuids", type:'method'}, function(result){
                    guids = result;
                    // создаем  контроллер и бд
                    dbc = new MemDBController();
                    dbsl = dbc.newDataBase({name:"Slave", kind : "slave", local: false, masterGuid : guids.masterGuid, masterConnection: socket});
                    console.log('контроллер:', dbc);
                    console.log('база данных:', dbsl);
                });
            }
        );
      }

      function subscribeRoot() {
          // подписываемся на корневой объект контейнера
		  dbsl._buildMetaTables();
          dbsl.subscribeRoot(guids.myRootContGuid, function(result){
              console.log(result);
          });
      }

      function changeCaption(val) {
          myButton.set('Caption', val);
          var delta = myRootCont.getLog().genDelta();
      }
		

    </script>
</head>
<body>
<h2>Управление</h2>
<input type="button" value="Подписаться на корневой объект" onclick="subscribeRoot();"><br><br>
<input type="text" value="" id="myButtonInput"> <input type="button" value="Поменять Caption для myButton" onclick="changeCaption($('#myButtonInput').val());">


<h2>Кнопки</h2>
myButton: <input type="button" value="" id="myButton">
</body>
</html>