<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        html, body, table,tr, td {padding:0;margin: 0;}
        p {padding:0;margin: 4px 0;}
        #container {padding:10px;}
        #container > div {float:left;}
        #result {position: relative;border:1px solid #999; width: 70%; overflow: auto;height:100%;box-sizing: border-box;}
        #result input {position: absolute;top:0;left:0;}
        #editor {position: relative;width:200px;border:1px solid #999;width: 30%;box-sizing: border-box;padding:10px;border-left:0;overflow: auto;}
        #editor .controls {clear:both;}
        #console-block {height: 70px;position:absolute;}
        #console {padding: 0;margin: 0;}

        .divTable
        {
            position: absolute;
            display:  table;
            width:auto;
            border:1px solid  #666666;
            border-spacing:0px;/*cellspacing:poor IE support for  this*/
            /* border-collapse:separate;*/
        }


        .divRow .divCell:last-child {border-right:0;}
        .divTable:last-child .divRow:last-child .divCell {border-bottom:0;}

        .divRow
        {
            display:table-row;
            width:auto;
            clear:both;
        }

        .divCell
        {
            display:table-cell;
            width:60px;
            border-right:1px solid  #666666;
            border-bottom:1px solid  #666666;
            border-collapse: collapse;
            padding:10px;
        }

        .divCell textarea {min-width:50px;min-height: 20px;}

        #loginForm { padding:5px; position: absolute; width: 200px; height: auto; left: 100px; top: 50px; z-index: 2; background-color: #ffffff; border: 1px solid #bababa; }
        #header {padding:10px;}
        #loginError {color: #ff0000;}
    </style>

    <script src="/public/uccello/uses/class-extend.js"></script>
    <script src="/public/uccello/uses/require.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/public/uccello/uses/url.js"></script>
    <script src="/public/libs/jeditable/jquery.jeditable.mini.js"></script>

    <script>

        requirejs.config({
            baseUrl: 'public',
            nodeRequire: require
        });

        var clientConnection = null, socket = null;
        var sessionId = $.url('#sid');
        var dbc=null, dbsl=null, dbs2=null, guids=null, propEditor = null;
		
		var myApp = {};
		var MemDBController=null, MemDataBase=null, ControlMgr=null;
		var typeGuids = {};

        // когда документ загружен
        $(document).ready( function() {
            require(
                ['./uccello/connection/clientConnection' ,'./uccello/memDB/memDBController','./uccello/memDB/memDataBase','./uccello/baseControls/controlMgr','./ProtoControls/button', './ProtoControls/matrixGrid',
				'./ProtoControls/container', 'propEditor'],
                function(ClientConnection,m1,m2,m3,b,g,c,pe){
                    clientConnection = new ClientConnection();
                    clientConnection.connect("ws://"+url('hostname')+":8081", sessionId,  function(result){
                        if (result.user) {
                            $('#login').hide(); $('#logout').show();
                        } else {
                            $('#logout').hide(); $('#login').show();
                        }
                        socket = clientConnection.socket;
                        sessionId = result.sessionId;
                        document.location.hash = '#sid='+sessionId;
						MemDBController = m1;
						MemDataBase = m2;
						ControlMgr = m3;
                        PropEditor = pe;
						typeGuids["af419748-7b25-1633-b0a9-d539cada8e0d"] = b;
						typeGuids["827a5cb3-e934-e28c-ec11-689be18dae97"] = g;
						typeGuids["1d95ab61-df00-aec8-eff5-0f90187891cf"] = c;
                        createController();
                    });
                }
            );
        });

      function createController(done){
                socket.send({action:"getGuids", type:'method'}, function(result){
                    guids = result;
                    // создаем  контроллер и бд					
                    dbc = new MemDBController();
					myApp.controller = dbc;
                    dbc.event.on({
                        type: 'applyDeltas',
                        subscriber: this,
                        callback: function(args){
                            renderControls();
                        }
                    });
					
					var cb = subscribeRoot;
					dbsl = dbc.newDataBase({name:"Slave1", proxyMaster : { connect: socket, guid: guids.masterGuid}},cb);
					myApp.controlMgr = new ControlMgr(dbsl);
                    console.log('контроллер:', dbc);
                    console.log('база данных B:', dbsl);

                    // редактор свойств
                    propEditor = new PropEditor(myApp.controlMgr, {parent:'#editor', change:function(){
                            myApp.controller.genDeltas(dbsl.getGuid());
                            renderControls(false);
                        }
                    });

                });
      }


	  
	  
      function subscribeRoot() {
          // подписываемся на корневой объект контейнера
          dbsl.subscribeRoot(guids.myRootContGuid, function(result){
			  renderControls();
          }, createComponent);
      }
	  
      function createDataBase2() {
          dbs2 = dbc.newDataBase({name:"Slave2", proxyMaster : { connect: socket, guid: dbsl.getGuid()}});
          dbs2.subscribeRoot(guids.myRootContGuid, function(result){
				renderControls();
          }, createComponent);
          console.log('база данных C:', dbs2);
      }

	  function createComponent(obj) {
			var g = obj.getTypeGuid();
			new typeGuids[g](myApp.controlMgr, { objGuid: obj.getGuid() },{parent:'#result'});
	  }
	  
	  function renderControls(renderEditor) {
			for (var f in myApp.controlMgr._getCompGuidList())
				myApp.controlMgr.pvt.compByGuid[f].render();

          // редактирование ячеек грида
          $(".divCell").editable(function(value, settings) {
              return(value);
          }, {
              type    : 'textarea',
              submit  : 'OK',
              placeholder: '',
              width      : '100px',
              height     : '20px'
          });

          // Редактор свойств
          if (renderEditor !== false)
            propEditor.render();
	  }
	  
	  function addButton() {
		var myRootCont;
		var gl = myApp.controlMgr._getCompGuidList();
		for (var f in gl) 
			if (gl[f].getClassName() == "Container") { myRootCont=gl[f]; break; }
		
		var d={fields: {"Id": 99, "Name": "MysecButton2", "Caption": "OK111", "Left":"300", "Top":"150"}}
		var newb = new typeGuids["af419748-7b25-1633-b0a9-d539cada8e0d"](myApp.controlMgr, {obj: myRootCont.getObj(), colName: "Children", ini:d },{parent:'#result'});
		var db = newb.getObj().getDB();
		myApp.controller.genDeltas(db.getGuid());
		//myRootCont.addToCol("Children", newb);
		renderControls();
		
	  }

	
      function changeFields(fields) {
		  var myButton, myMatrixGrid, myRootCont;
		  var gl = myApp.controlMgr._getCompGuidList();
		  for (var f in gl) {
			if (gl[f].getClassName() == "MatrixGrid") myMatrixGrid=gl[f];
			if (gl[f].getClassName() == "Button") myButton=gl[f];
			if (gl[f].getClassName() == "Container") myRootCont=gl[f];		
		  };

          for(var name in fields)
            if (fields[name] && fields[name]!='') {
               if (name=='HorCells' || name=='VerCells')
                   myMatrixGrid.pvt.obj.set(name, fields[name]);
               else
                   myButton.pvt.obj.set(name, fields[name]);
            }

		  myApp.controller.genDeltas(dbsl.getGuid());
          renderControls();
      }

    /**
     * Получить  получить на клиент от сервера структуру - все сессии с номерами и когда созданы,
     * все коннекты этих сессий - с номерами и когда созданы - и чтобы эту инфо можно было вывести
     * в мемо поле по кнопке (трассировка)
     */
      function getSessions() {
          socket.send({action:"getSessions", type:'method'}, function(result){
                console.log(result);
               $('#result').append('<p>' + JSON.stringify(result.sessions) + ' </p>');
          });
      }


        //var buttons = [];
        /*function createButtons(db, guidButton, guidMatrixGrid) {
            require(
                    ['../public/ProtoControls/button', '../public/ProtoControls/matrixGrid'],
                    function( Button, MatrixGrid ){
                        socket.send({action:"getGuids", type:'method'}, function(result){
                            var button = new Button(db, guidButton, {parent:'#result'});
                            var matrix = new MatrixGrid(db, guidMatrixGrid, {parent:'#result'});
                            buttons.push(button);
                            buttons.push(matrix);
                            renderAll();
                        });
                    }
            );
        }
        function renderAll() {
          for(var i=0; i<buttons.length; i++) {
              buttons[i].render();
          }
        }*/


        /**
         * Логин
         * @param name
         * @param pass
         */
        function login(name, pass){
            clientConnection.authenticate(name, pass, function(result){
                if (result.user) {
                    $('#login').hide(); $('#logout').show();
                    $('#loginForm').hide();
                    $('#loginError').hide();

                } else {
                    $('#logout').hide(); $('#login').show();
                    $('#loginError').html('Неправильный логин или пароль').show();
                }
            });
        }

        /**
         * Выход
         */
        function logout(){
            clientConnection.deauthenticate(function(){
                $('#login').show(); $('#logout').hide();
            });
            return false;
        }

        $(function(){

            // высота окошка результатов
            function fixHeight() {
                var h = $(window).height();
                $('#result').height(h-80);
                $('#editor').height(h-100);
                $('#console').width('100%');
            };
            fixHeight();
            $(window).resize(fixHeight);

            // форма логина
            $('#login').click(function(e){
                e.stopPropagation();
                if ($('#loginForm').is(':visible')) {
                    $('#loginForm').hide();
                } else {
                    var offset = $(this).offset();
                    offset.top += 20;
                    $('#loginForm').show().offset(offset);
                }
                return false;
            });
            $(window).click(function(){$('#loginForm').hide();});
            $('#loginForm').click(function(e){e.stopPropagation();});


        });

    </script>
</head>
<body>

<div id="header">
    <a href="#" id="login" style="display: none;">Войти</a>
    <a href="#" id="logout" style="display: none;" onclick="return logout();">Выйти</a>
</div>

<div id="interface">
    <!--Caption:<input type="text" value="" id="myButtonCaption">
    Top:<input type="text" value="" id="myButtonTop">
    Left:<input type="text" value="" id="myButtonLeft">
    HorCells:<input type="text" value="" id="HorCells">
    VerCells:<input type="text" value="" id="VerCells">
    <input type="button" value="Поменять" onclick="changeFields({VerCells:$('#VerCells').val(), HorCells:$('#HorCells').val(), Caption:$('#myButtonCaption').val(), Top:$('#myButtonTop').val(), Left:$('#myButtonLeft').val()});"><br>-->
    &nbsp; &nbsp; <input type="button" value="Трассировка" onclick="getSessions();">
    <input type="button" value="renderControls" onclick="renderControls();">
	<input type="button" value="add button" onclick="addButton();">

    <div id="container">
        <div id="result"></div>
        <div id="editor">
            <p><b>Редактор свойств</b></p>

        </div>
    </div>
</div>

<div id="loginForm" style="display: none;">
    <div id="loginError"></div>
    Имя:<input type="text" value="user" id="loginName"><br>
    Пароль:<input type="password" value="123" id="loginPass"><br>
    <input type="button" value="Войти" onclick="login($('#loginName').val(), $('#loginPass').val())">
</div>

</body>
</html>