<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        html, body, table,tr, td {padding:0;margin: 0;}
        #container {padding:10px;}
        #result {position: relative;border:1px solid #999; width: 100%; overflow: auto;height:100%;}
        #result input {position: absolute;top:0;left:0;}
        #console-block {height: 70px;position:absolute;}
        #console {padding: 0;margin: 0;}
    </style>

    <script src="../public/class-extend.js"></script>
    <script data-main="./public/main.js" src="../public/require.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../public/url.js"></script>

    <script>

        var socket = null;
        var sid = $.url('?sid');
        var myButton=null, myRootCont=null, dbc=null, dbsl=null, dbs2=null, guids=null;

        // когда документ загружен
        $(function(){
            require(
                ['socket'],
                function( Socket){
                    socket = new Socket("ws://"+url('hostname')+":8081", {
                        open: function(){ // при открытии соединения
                            // отправляем сообщение что подключились
                            socket.send({action:'connect', type:'method', sid: sid, agent:navigator.userAgent}, function(){
                                createController();
                            });
                        },
                        close: function(){ // при закрытии соединения

                        },
                        router: function(data){
                            console.log('сообщение с сервера:', data);
                            var result = {};
                            switch (data.action) {
                                case 'error': // ошибки
                                    console.log(data.error);
                                    break;
                                case 'sendDelta':
                                    dbc.applyDeltas(data.dbGuid, data.srcDbGuid, data.delta);
                                    break;
                            }
                            return result;
                        }
                    });
                }
            );
        });



      function createController(done){
		require(
            ['../public/memDBController', 'memDataBase'],
            function( MemDBController, MemDataBase){
                socket.send({action:"getGuids", type:'method'}, function(result){
                    guids = result;
                    // создаем  контроллер и бд
                    dbc = new MemDBController();
					var cb = subscribeRoot;
					dbsl = dbc.newDataBase({name:"Slave1", proxyMaster : { connect: socket, guid: guids.masterGuid}},cb);
                    console.log('контроллер:', dbc);
                    console.log('база данных B:', dbsl);
                });
            }
        );
      }

      function createDataBase() {
          dbs2 = dbc.newDataBase({name:"Slave2", proxyMaster : { connect: socket, guid: dbsl.getGuid()}});
          //dbs2._buildMetaTables();
          dbs2.subscribeRoot(guids.myRootContGuid, function(result){
              console.log(result);
              createButton(dbsl, guids.myButtonGuid);
          });
          console.log('база данных C:', dbs2);
      }

      function changeCaptionMaster() {
          socket.send({action:"changeCaption", caption:'13313123'});
      }

      function subscribeRoot() {
          // подписываемся на корневой объект контейнера
		  //dbsl._buildMetaTables();
          dbsl.subscribeRoot(guids.myRootContGuid, function(result){
              console.log(result);
			  createDataBase();
          });
      }

      function changeCaption(val) {
          myButton = dbsl.getObj(guids.myButtonGuid);
          myRootCont = dbsl.getObj(guids.myRootContGuid);
          myButton.set('Caption', val);
          //var delta = myRootCont.getLog().genDelta();
          //console.log('delta:', delta);
		  
		  dbc.genDeltas(dbsl.getGuid());

          renderAll();

          // отправляем дельту на сервер
          //socket.send({action:"changeObj", delta:delta});
          //socket.send({action:'sendDelta', delta:delta, guidDb:dbsl.getGuid(), masterGuid:guids.masterGuid, guidRoot:myRootCont.getGuid()});

          // отправляем подписчикам своим
          //dbc.applyDelta(dbsl.getGuid(), dbsl.getGuid(), guids.myRootContGuid, delta);
      }



    /**
     * Получить  получить на клиент от сервера структуру - все сессии с номерами и когда созданы,
     * все коннекты этих сессий - с номерами и когда созданы - и чтобы эту инфо можно было вывести
     * в мемо поле по кнопке (трассировка)
     */
      function getSessions() {
          socket.send({action:"getSessions", type:'method'}, function(result){
                console.log(result);
               $('#result').append('<p>' + JSON.stringify(result.sessions) + ' </p>');
          });
      }


        var buttons = [];
        function createButton(db, guid) {
            require(
                    ['../public/button'],
                    function( Button ){
                        socket.send({action:"getGuids", type:'method'}, function(result){
                            // создаем кнопку
                            var button = new Button(db, guid, {parent:'#result'});
                            button.render();
                            buttons.push(button);
                        });
                    }
            );
        }

        function renderAll() {
          for(var i=0; i<buttons.length; i++) {
              buttons[i].render();
          }
        }

        $(function(){
            function fixHeight() {
                $('#result').height($(window).height()-90);
                $('#console').width('100%');
            };
            fixHeight();
            $(window).resize(fixHeight);
        });
		

    </script>
</head>
<body>

<input type="button" value="Трассировка" onclick="getSessions();">
<input type="text" value="" id="myButtonInput"> <input type="button" value="Поменять Caption для myButton" onclick="changeCaption($('#myButtonInput').val());">
<input type="button" value="renderAll" onclick="renderAll();">

<div id="container">
    <div id="result"></div>
</div>

</body>
</html>