html, body, table,tr, td {padding:0;margin: 0; font-family: 'Open Sans', sans-serif;}
p {padding:0;margin: 4px 0;}
#tabs {padding:0 10px 10px;}
#container {}
#container > div {float:left;}
.tabs-page {position: absolute;width: 100%; overflow: hidden;height:100%;box-sizing: border-box;}
.tabs.active {background-color: #fff;}
#editor {position: relative;width:200px;border:1px solid #999;width: 30%;box-sizing: border-box;padding:10px;border-left:0;overflow: auto;}
#editor .controls {clear:both;}
#console-block {height: 70px;position:absolute;}
#console {padding: 0;margin: 0;}

.control {position: absolute;top:0;left:0;z-index: 1;}
.control.edit{background-color: #fff;}
.control.container{overflow: auto;background-color: #fff;border:1px solid #999;position:relative;width: 100%;height: 100%;box-sizing: border-box;}
.control.prop-editor{padding:10px; border: 1px solid #aaa;background-color: #fff;}
.control.prop-editor input{position: relative;}
.control.prop-editor .props .name {width:100px;display: inline-block;}
.control.prop-editor .parents .name {width:100px;display: inline-block;}

.navigator {position: absolute; background-color: #fff;font-size: 12px;}
.navigator .left {width:240px;overflow: auto;}
.navigator a {text-decoration: none; color:#000000;}
.navigator a:hover {text-decoration: none;}
.navigator a.active {background-color: #333;color:#fff;}
.navigator .centerTop {width:240px;overflow: auto;height: 60px;}
.navigator .centerBottom {width:240px;overflow: auto;}
.navigator .right {width:260px;overflow: auto;}
.navigator td {border:1px solid #999;padding:5px;}
.navigator input.value {width:100px;}
.navigator input.save {}
.navigator .right span {display: inline-block;}
.navigator .right span.name {width:70px;}
.navigator .right span.type {width:40px;}
.navigator .right input {display: inline-block;}
.navigator .levels .level{width:284px;padding:5px;margin:5px;border:1px solid #999;}

.divTable
{
    position: absolute;
    display:  table;
    width:auto;
    border:1px solid  #666666;
    border-spacing:0px;/*cellspacing:poor IE support for  this*/
    /* border-collapse:separate;*/
}


.divRow .divCell:last-child {border-right:0;}
.divTable:last-child .divRow:last-child .divCell {border-bottom:0;}

.divRow
{
    display:table-row;
    width:auto;
    clear:both;
}

.divCell
{
    display:table-cell;
    width:60px;
    border-right:1px solid  #666666;
    border-bottom:1px solid  #666666;
    border-collapse: collapse;
    padding:10px;
}

.divCell textarea {min-width:50px;min-height: 20px;}

.grid {position: absolute;border:1px solid  #666666;border-spacing:0px;overflow: auto;}
.grid .table {display: table;}
.grid .row .cell:last-child {border-right:1px solid  #666666;}
.grid:last-child .row:last-child .cell {border-bottom:0;}
.grid .row{display:table-row;width:auto;clear:both;}
.grid .row.active{background-color: #333333; color:#ffffff;}
.grid .cell{font-size:11px;display:table-cell;width:60px;border-right:1px solid  #666666;border-bottom:1px solid  #666666;border-collapse: collapse;padding:5px;float:left;overflow: hidden;white-space: nowrap; text-overflow: ellipsis;}
.grid .header{font-weight:bold;font-size:12px;display:table-caption;width:60px;border-right:1px solid  #666666;border-bottom:1px solid  #666666;border-collapse: collapse;padding:5px;border-top:1px solid  #666666;float:left;}

#loginForm { padding:5px; position: absolute; width: 200px; height: auto; left: 100px; top: 50px; z-index: 2; background-color: #ffffff; border: 1px solid #bababa; }
#header {padding:10px;}
#loginError {color: #ff0000;}